<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PrbMicroservices" value="http://vsm.homolog.jm:9999/tfs/Projetos/_packaging/PrbMicroservices.Model/nuget/v3/index.json" />
    <add key="PrbPlataforma" value="http://vsm.homolog.jm:9999/tfs/Projetos/_packaging/PrbPlataforma/nuget/v3/index.json" />
	 <add key="PrbUtil" value="http://vsm.homolog.jm:9999/tfs/Portais%20Utilidades/_packaging/PrbUtil_Feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <PrbMicroservices>
      <add key="Username" value="TPRB10253\azdevops_feed" />
      <add key="ClearTextPassword" value="c42on7btvV#" />
    </PrbMicroservices>
    <PrbPlataforma>
      <add key="Username" value="TPRB10253\azdevops_feed" />
      <add key="ClearTextPassword" value="c42on7btvV#" />
    </PrbPlataforma>
	<PrbUtil>
      <add key="Username" value="TPRB10253\azdevops_feed" />
      <add key="ClearTextPassword" value="c42on7btvV#" />
    </PrbUtil>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>